---
page_title: "betterado_release_definitions Data Source - betterado"
subcategory: "Release Pipelines"
description: |-
  Lists release definitions in an Azure DevOps project.
---

# betterado_release_definitions (Data Source)

Use this data source to query and list classic release definitions in an Azure
DevOps project. Supports filtering by name and folder path.

{{ .SchemaMarkdown | trimspace }}
